* {
  box-sizing: border-box;
}

:root {
  /*font: calc(1.2vw + 1.2vh) sans-serif;*/
  --tyle1: 4;
  --tyle2: 2;
  --display_Fuzzy: none;  
  --multi_row: 2;
  
}



body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.Main {
  
  position: absolute ;
  width: 100%;
  height: calc(100vh - 2*(3*(var(--tyle2)*1.2vw/var(--tyle1) + var(--tyle2)*1.2vh/var(--tyle1))/2));
  top: calc(3*(var(--tyle2)*1.2vw/var(--tyle1) + var(--tyle2)*1.2vh/var(--tyle1))/2);
  left: 0;
  border: 1px solid black; 
  overflow-y: scroll;

   display: flex;
	  align-items: flex-start; /*center	flex-end*/
  justify-content: center; 
  
}

.Khung {
   width: calc(100%/var(--tyle1));
  margin: calc(0.5vw + 0.5vh);
	text-align: center;
    border: 0.01px solid;

}

.column1 {
  float: left;
  width: 50%;
	border: 0.01px solid;
    padding: 0.5% 0.5% 0.5% 0.5%;
    

}

.column2, .column3 {
  float: left;  
	border: 0.01px solid;
	padding: 0 0.5% 0% 0.5%;

    
    display: flex;   
    justify-content: center;
	  align-items: center;
}

.column2 {
    	  width: 50%;   
        /*height: 100px;*/
}
.column3 {
    	  width: 100%;
}


p {
margin: 1px 1px 1px 1px;
text-align: left;		/*center  justify;  */ 
 
  
  font: calc(var(--tyle2)*1.2vw/var(--tyle1) + var(--tyle2)*1.2vh/var(--tyle1)) Arial, sans-serif;
  
  overflow: hidden;
  text-overflow: ellipsis;  
  /* white-space: nowrap;  /*nowrap; 	/*normal	nowrap*/  /*Cho một dòng*/

  display: -webkit-box; 
      -webkit-line-clamp: var(--multi_row);  /*hiện 2 dòng rồi mới ...*/
      -webkit-box-orient: vertical;

}






p1 {
    display: -webkit-box;

    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row {
  display: flex;  /*dể cột cao bằng nhau*/
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  font: calc(var(--tyle2)*1.2vw/var(--tyle1) + var(--tyle2)*1.2vh/var(--tyle1)) Arial, sans-serif;
  height: calc(3*(var(--tyle2)*1.2vw/var(--tyle1) + var(--tyle2)*1.2vh/var(--tyle1))/2);

  overflow-y: scroll;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color:blue;
  color: white;
  text-align: center;
  font: calc(var(--tyle2)*1.2vw/var(--tyle1) + var(--tyle2)*1.2vh/var(--tyle1)) Arial, sans-serif;
  height: calc(3*(var(--tyle2)*1.2vw/var(--tyle1) + var(--tyle2)*1.2vh/var(--tyle1))/2);

  overflow-y: scroll;
}

.Fuzzy {
  position: absolute ;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: white;
  display: var(--display_Fuzzy);
	  align-items: center;
  justify-content: center; 
  
}
